<div class="container" mt-5>
<div class="card" style="padding: 20px;">
    <div class="row">
        <div class="col-lg-6">
                <form #imageForm="ngForm" autocomplete="off" (ngSubmit)="analyzeimage(imageForm)">
                    <div class="form-group">
                        <label for="imageURL" class="form-control">Image URL</label>
                        <input type="text" name="imageURL" id="imageURL" imageURL="ngModel" (ngModel)="imageURL" class="form-control" placeholder="Paste URL Here">
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Analyze Image" class="btn btn-primary w-100">
                    </div>
                    <img [src]="imageURLPreview" alt="" width="100%" height="auto">
                </form>
        </div>
        <div class="col-lg-6">
            <ngx-json-viewer [json]="analyzedImageData" [expanded]="true"></ngx-json-viewer>
        </div>
    </div>
</div>
</div>
